@import url(reset.css);

:root {
	--background-color: #f2f2f2;
	--card-background-color: #512051;
	--rate-background-color: #f7f2f7;
	--header-text-color: #927b91;
	--card-text-color: #ffffff;
	--card-sec-text-color: #ee69a4;
}

body {
	font-family: "League Spartan", sans-serif;
	background-color: var(--background-color);
	display: grid;
	place-items: center;
}

.page__wrap {
	max-width: 87vw;
	padding: 5rem 0 6rem 0;
}

.header {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-align: center;
}

.header__title {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 0.8;
	letter-spacing: -0.0894rem;
	color: var(--card-background-color);
}
.header__text {
	font-size: 1.2rem;
	font-weight: 500;
	line-height: calc(25 / 19);
	letter-spacing: -0.0394rem;
	color: var(--header-text-color);
}

.rate {
	display: flex;
	gap: 1rem;
	flex-direction: column;
}
.rate__card {
	background-color: var(--rate-background-color);
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
	padding-bottom: 1rem;
	gap: 1rem;
	align-items: center;
	border-radius: 0.5rem;
}

.rate__stars {
	display: flex;
	gap: 0.53rem;
}

.rate__text {
	font-size: 1.0625rem;
	font-weight: 700;
	color: var(--card-background-color);
}

.testimonial {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 3rem;
}
.testimonial__card {
	background-color: var(--card-background-color);
	padding: 2.5rem 2rem 2rem 2rem;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.testimonial__buyer {
	display: flex;
	gap: 1.5rem;
	align-items: center;
}

.buyer__avatar {
	max-width: 40px;
	max-height: 40px;
	border-radius: 50%;
}

.buyer__name {
	font-size: 1.0625rem;
	font-weight: 700;

	color: var(--card-text-color);
}

.buyer__verified {
	font-size: 1.0625rem;
	color: var(--card-sec-text-color);
}

.testimonial__text {
	font-size: 1.0625rem;
	font-weight: 500;
	line-height: calc(22 / 17);
	letter-spacing: -0.0187rem;
	color: var(--card-text-color);
}
